#!/bin/bash

kernel=$(uname -s) 

# Easier navigation: .., ...
alias ..="cd .."
alias ...="cd ../.."

# Always enable colored `grep` output
alias grep='grep --color=auto '

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"

# iproute2 (Linux only)
if [ ${kernel} = Linux ] ; then
  alias ip='ip --color'
  alias ipb='ip --color --brief'
fi

# Access to DevNet devices
alias ios='sshpass -p C1sco12345 ssh -p 8181 developer@ios-xe-mgmt-latest.cisco.com'
alias iosxr='sshpass -p C1sco12345 ssh -p 8181 admin@sbx-iosxr-mgmt.cisco.com'
alias nxos='sshpass -p Admin_1234! ssh -p 8181 admin@sbx-nxos-mgmt.cisco.com'

# Personal instances (SG protected)
alias tower='ssh centos@tower.nleiva.com'
alias splunk='ssh centos@splunk.nleiva.com'
alias host1=' ssh nleiva@172.16.199.200'
alias pi1=' ssh pi@172.16.199.171'
alias pi2=' ssh pi@172.16.199.172'
alias guest1='ssh nleiva@192.168.0.17'
alias guest2='ssh nleiva@192.168.100.45'
alias guest3='ssh nleiva@192.168.100.82'

# Other aliases
alias docker=podman
